extends ../layout

block content

    h2 #{post.title}

    h6 #[strong Who? ]
        p
            a(href=post.owner.url) #{post.owner.full_name}
    
    h6 #[strong What?]
        p #{post.description}
    
    h6 #[strong When?]
        p #{post.duration}
    
    h6 #[strong Where?]
        p #{post.loc.coordinates}